body{
    cursor: default;
}
.a {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
        url(../assets/images/download.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-top: 75px;
    gap: 100px;
}

.a.light {
    background-image: linear-gradient(rgb(255, 255, 255, .5)),
        url(../assets/images/feedback\ light.jpeg);
}

.miniTitle {
    color: #e7c075;
    font-size: 14px;
    font-family: mainFont;
    letter-spacing: 2px;
    margin-bottom: -10px;
}

.miniTitle.light {
    color: #4e4635;
}

h1 span {
    color: white;
}

h1 span.light {
    color: white;
    text-shadow: 1px 1px 8px #2b240a;
}

h1 {
    color: #e7c075;
    font-size: 70px;
    font-family: mainFont;
    font-weight: 500;
    padding: 20px 0;
}

h1.light {
    color: #2b240a;
    text-shadow: 1px 1px 2px #2b240a;
}

.line {
    width: 20%;
    border-top: 5px solid #e7c075;
}

.line.light {
    border-top: 5px solid #2b240a;
}

.description {
    color: #b5aa9b;
    font-size: 22px;
    font-family: mainFont;
    padding: 20px 0;
    line-height: 1.4;
    max-width: 600px;
}

.description.light {
    color: #4e4635;
}

.end {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
}

a {
    text-decoration: none;
}

.head-contact {
    color: #e7bf7593;
    font-size: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.head-contact.light {
    color: #4e4635;
}

.main-contact {
    color: #b5aa9b;
    font-size: 18px;
    margin-bottom: 30px;
}

.main-contact.light {
    color: white;
    text-shadow: 1px 1px 8px #2b240a;
}

li {
    list-style-type: none;
    border-left: 3px solid rgba(255, 255, 255, 0.15);
    padding-left: 20px;
    margin-bottom: 15px;
}

li.light {
    border-left: 3px solid #2b240a;
}

.left {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    background-color: #131313e6;
    padding: 50px;
    width: 40%;
    height: auto;
    border-radius: 20px;
    transition: 0.4s;
}

.left.light {
    background-color: #fef8efe6;
}

.feed-back {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form div {
    display: flex;
    flex-direction: column;
    color: #b5aa9b;
    gap: 2px;
}

div label {
    font-size: 16px;
    font-family: mainFont;
    font-weight: normal;
    color: #b5aa9b;
    letter-spacing: 2px;
    padding: 5px 0;
}

div label.light {
    color: #4e4635;
}

div input,
div textarea {
    font-size: 16px;
    font-family: mainFont;
    color: #a4a2a8;
    padding: 5px 10px;
    background-color: rgba(46, 45, 45, 0.4);
    outline: none;
    border: 0.5px solid rgba(46, 45, 45, 0.4);
    transition: 0.2s;
    width: 100%;
}

div input.light,
div select.light,
div textarea.light {
    background-color: #f8f2ea;
    color: #674f3e;
}

.type {
    font-size: 16px;
    font-family: mainFont;
    color: #a4a2a8;
    padding: 5px 10px;
    background-color: rgba(46, 45, 45, 0.4);
    outline: none;
    border: 0.5px solid rgba(46, 45, 45, 0.4);
    transition: 0.2s;
    width: 100%;
    margin-bottom: 15px;
}

div option {
    background-color: black;
}

div option.light {
    background-color: #fef8efe6;
}

div option:focus {
    background-color: aliceblue;
}

div textarea {
    height: 100px;
    resize: none;
}

div input.E,
div textarea.E {
    border: 1px solid rgb(182, 28, 28);
}

div input.T {
    border: 1px solid rgb(24, 80, 24);
}

div input:focus,
div textarea:focus,
div select:focus {
    border: 0.5px solid #e7c075;
}

.error,
#Error {
    height: 22px;
    text-align: left;
    font-size: 18px;
    font-family: mainFont;
    font-weight: normal;
}

/* .success{
    height: 16px;
    text-align: left;
    font-size: 20px;
    font-family: mainFont;
    margin-bottom: 10px;
} */
button {
    padding: 10px 16px;
    background-color: #e7c075;
    color: #432f01;
    font-size: 16px;
    font-family: mainFont;
    width: 100%;
    letter-spacing: 2px;
    margin: 15px 0;
    transition: 0.3s;
}

button.light {
    background-color: #937C63;
    border: none;
    color: #ffffff;
}

button:hover {
    cursor: pointer;
    background-color: #bb954f;
    color: #432f01;
}

button.light:hover {
    background-color: #7D6852;
    color: white;
}
.feed-back P{
    color:#a4a2a8;
    font-size: 14px;
    font-family: mainFont;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4;
}

.feed-back P.light {
    color: #937C63;
}
