#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
    margin-bottom: 30px;

    #container-h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            width: 100%;
            color: #CEC3AE;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            text-align: center;
        }
    }

    #start1 {
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: 700;
        color: #E5E2E1;
        font-size: 64px;
    }

    #start2 {
        color: #F2CA50;
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 400;
        font-size: 64px;
    }

    img {
        width: 70%;
        opacity: 0.5;
        mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 80%);
    }
}

#pic1 {
    margin-right: -150px;
}

#pic2 {
    margin-left: -150px;
}

#history-container {
    width: 80%;
    margin: 0 auto;

    .number {
        color: #F2CA50;
        font-family: 'Playfair Display';
        opacity: 0.4;
        transition: 1s;
    }

    .location {
        display: flex;
        font-family: 'Montserrat';
        font-size: 12px;
        color: #D0C5AF;
        font-style: normal;
        font-weight: 600;
        align-items: center;

        svg {
            width: 14px;
            height: 20px;
            fill: #D0C5AF;
            margin-right: 5px;
        }
    }

    .line {
        flex-grow: 1;
        height: 1px;
        background-color: #3F371F;
        margin: 0 30px;
        margin-top: 20px;
    }

    #top-sec {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;

        h6 {
            color: #F2CA50;
            font-family: 'Montserrat';
            font-style: normal;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        p {
            color: #E5E2E1;
            font-family: 'Playfair Display';
            font-size: 40px;
            font-weight: 600;
            font-style: normal;
        }

        div {
            display: flex;
            align-items: end;

            a {
                text-decoration: none;
                color: #D0C5AF;
                font-family: 'Montserrat';
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                text-transform: uppercase;
                transition: 0.5s;
            }

            svg {
                width: 20px;
                height: 20px;
                fill: #D0C5AF;
                transition: 0.5s;
            }

            a:hover {
                color: #F2CA50;

                svg {
                    fill: #F2CA50;
                    transform: translateX(3px);
                }
            }
        }
    }

    img {
        filter: sepia(40%);
        border-radius: 15px;
        border: 0.5px solid #352E1C;
        transition: 1s;
        object-fit: cover;
        object-view-box: inset(0% 0% 0% 0%);
        margin-bottom: 15px;
    }

    div:hover img {
        filter: sepia(0%);
        object-view-box: inset(2% 2% 2% 2%);
    }

    div:hover .number {
        opacity: 1;
    }
}

#pics-sec {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 75px;
}

#egyptian-museum {
    width: fit-content;
    height: fit-content;
    cursor: pointer;

    img {
        width: 550px;
    }

    section {
        display: flex;
        font-size: 28px;
        font-family: 'Playfair Display';
        font-weight: 500;
        font-style: normal;
        color: #E5E2E1;
    }
}

#islamic-museum {
    width: fit-content;
    cursor: pointer;
    margin-top: 60px;

    img {
        width: 450px;
    }

    section {
        display: flex;
        font-size: 28px;
        font-family: 'Playfair Display';
        font-weight: 500;
        font-style: normal;
        color: #E5E2E1;
    }
}

#grand-museum {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    margin-top: -270px;
    margin-left: 30px;

    img {
        width: 500px;
    }

    section {
        display: flex;
        font-size: 28px;
        font-family: 'Playfair Display';
        font-weight: 500;
        font-style: normal;
        color: #E5E2E1;
    }
}

#titleFeatures {
    font-size: 40px;
    color: #E5E2E1;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    text-align: center;
    margin-top: 200px;

    div {
        background-color: #F2CA50;
        height: 0.5px;
        width: 50px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 100px;
    }
}

#feature {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    background-color: #1A1919;
    padding: 48px;
    border-radius: 12px;
    border: 1px solid #362F1D;
    width: 350px;
    transition: 0.3s;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F2CA501A;
        width: 64px;
        height: 64px;
        border-radius: 50px;
        margin-bottom: 32px;
        transition: 0.5s;

        svg {
            width: 36px;
            height: 40px;
            fill: #F2CA50;
        }
    }
}

.card:hover {
    border: 1px solid #72602F;

    div {
        scale: 1.1;
    }
}


.titleCard {
    font-size: 28px;
    color: #E5E2E1;
    font-family: 'Playfair Display';
    font-weight: 500;
    font-style: normal;
    margin-bottom: 16px;
}

.describtion {
    font-size: 16px;
    color: #D0C5AF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
}

#homeEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: fit-content;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    margin-top: 150px;

    div {
        border: 1px solid #f2ca5033;
        color: #F2CA50;
        font-family: 'Montserrat';
        font-size: 12px;
        border-radius: 50px;
        font-weight: 600;
        padding: 7px 16px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    
    h1 {
        font-size: 64px;
        color: #E5E2E1;
    }
    
    h3 {
        font-family: 'Playfair Display';
        color: #F2CA50CC;
        font-style: italic;
        font-weight: 400;
        font-size: 28px;
    }
    
    p {
        color: #D0C5AF;
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        width: 40%;
        text-align: center;
    }
    
    a {
        text-decoration: none;
        color: #F2CA50;
        padding: 20px 48px;
        font-size: 12px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-style: normal;
        border-radius: 50px;
        border: 1px solid #F2CA50;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        box-shadow: #d4af371a 0px 0px 40px 0px;
        margin-bottom: 130px;
        transition: 0.5s;
    }

    a:hover {
        background-color: #F2CA50;
        color: #111111;
    }

}