@font-face {
    font-family: main-font;
    src: url(../assets/Fonts/noto-serif.regular.ttf);
}

@font-face {
    font-family: bold-font;
    src: url(../assets/Fonts/noto-serif.bold.ttf);
}

#map-iframe {
    border: none;
    width: 54vw;
    border-radius: 15px;
    height: 100%;

}

#map-main {
    display: flex;
    justify-content: center;
    transition: 0.4s;
}

#map-container {
    margin-top: 10px;
    margin-bottom: 3%;
    transition: 0.5s;
    height: 83.5vh;
}

#information-container {
    position: absolute;
    right: 0;
    top: -150vh;
    width: fit-content;
    height: 130vh;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    background-color: #181818;
    align-items: center;
    padding: 0 50px;
    padding-top: 130px;
    padding-bottom: 200px;
}

#information-container .p1 {
    color: #87724b;
    font-family: main-font;
    width: 350px;
}

#information-container .p2 {
    color: white;
    font-family: bold-font;
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
}

#img {
    width: 350px;
    filter: brightness(0.7);
    margin-top: 20px;
    border-radius: 10px;
}

#selected-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #ddb870;
    width: 100%;
    font-family: main-font;
    font-size: 18px;
    padding: 0;
    text-align: center;
}

#selected-info p {
    padding-top: 20px;
}

#selected-info label {
    font-size: 13px;
    color: #87724b;
}

#info-p{
    color: #c7bbab;
    width: 350px;
    font-family: main-font;
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
}