a {
    text-decoration: none;
}

#heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: 30px;

    span {
        background-color: #ffe9b00d;
        border: 1px solid #ffe9b033;
        color: #ffe9b0;
        border-radius: 50px;
        padding: 10px 16px;
        font-size: 12px;
        font-weight: 600;
        font-family: 'Montserrat';
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    h1 {
        font-size: 84px;
        font-family: 'Playfair Display';
        font-weight: 700;
        color: #E5E2E1;
    }

    p {
        width: 55%;
        color: #d0c5af;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
}

#cards-container {
    padding: 0 150px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    #title {
        display: flex;
        justify-content: end;
        align-items: end;

        h2 {
            color: #ffe9b0;
            font-family: 'Playfair Display';
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        p {
            color: #d0c5af99;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
        }

        div {
            background-color: #d4af3726;
            height: 1px;
            flex: 1;
            margin: 0 48px;
        }
    }
}

#cards {
    margin-top: 50px;
    width: 100%;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    width: 100%;
    grid-auto-flow: dense;
}

#grid-container>div {
    position: relative;
    display: flex;
    grid-column: span 2;
    flex-direction: column;
    background-color: #181717;
    padding: 20px;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid #d4af3726;
    height: 370px;
    overflow: hidden;
    grid-column: span 2;
    transition: 0.6s;

    video {
        width: 100%;
        border-radius: 10px;
        transition: 0.6s;
    }

    .card-title {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex: 1;
        z-index: 2;
        transition: 0.3s;
        overflow: hidden;

        h3 {
            position: absolute;
            top: 10px;
            color: #E5E2E1;
            font-family: 'Playfair Display';
            font-weight: 500;
            font-size: 28px;
            transition: 0.6s;
            white-space: nowrap;
        }

        p {
            overflow: hidden;
            color: #d0c5af;
            font-family: 'Montserrat';
            font-size: 16px;
            line-height: 26px;
            position: absolute;
            margin-top: 15px;
            top: 150px;
        }

        span {
            color: #d0c5af;
            font-family: 'Montserrat';
            font-size: 16px;
            transition: 0.6s;
        }

        a {
            width: fit-content;
            color: #ffe9b0;
            font-family: 'Montserrat';
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            border-bottom: 1px solid #ffe9b04d;
            padding-bottom: 4px;
            margin-top: 10px;
            transition: 0.6s;
        }

        svg {
            position: absolute;
            top: 0;
            right: -20px;
            fill: #ffe9b0;
            width: 24px;
            height: 24px;
            cursor: pointer;

            #path {
                transition: d 0.25s cubic-bezier(0, 0, 0.2, 1);
            }

            #path.paused {
                d: path("M 17 8.6 L 10.89 4.99 C 9.39 4.11 7.5 5.19 7.5 6.93 C 7.5 6.93 7.5 6.93 7.5 6.93 L 7.5 29.06 C 7.5 30.8 9.39 31.88 10.89 31 C 10.89 31 10.89 31 10.89 31 L 17 27.4 C 17 27.4 17 27.4 17 27.4 C 17 27.4 17 27.4 17 27.4 L 17 8.6 C 17 8.6 17 8.6 17 8.6 C 17 8.6 17 8.6 17 8.6 Z M 17 8.6 L 17 8.6 C 17 8.6 17 8.6 17 8.6 C 17 8.6 17 8.6 17 8.6 V 27.4 C 17 27.4 17 27.4 17 27.4 C 17 27.4 17 27.4 17 27.4 L 33 18 C 33 18 33 18 33 18 C 33 18 33 18 33 18 V 18 L 17 8.6 C 17 8.6 17 8.6 17 8.6 C 17 8.6 17 8.6 17 8.6 Z");
            }
        }
    }
}

#grid-container>div.play {
    grid-column: span 4;
    border-color: #d4af374d;
    padding: 30px;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        filter: brightness(40%);
        z-index: 1;
    }

    h3 {
        position: relative;
        top: 0;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    span {
        color: #ffe9b0;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    a {
        background-color: #ffe9b0;
        color: #3d2f00;
        border-radius: 50px;
        padding: 12px 32px;
        border-bottom: none;
    }

    p {
        width: 90%;
        position: relative;
        top: 0;
        transition: 0.6s;
    }

    .card-title {
        justify-content: flex-end;
        flex-direction: column;
        align-items: normal;

        svg {
            right: 0;
            transition: 0.6s;
        }
    }
}

#grid-container>div:not(.play) {
    cursor: pointer;
}

#grid-container>div:not(.play):hover {
    background-color: #1B1B1B;
    border-color: #d4af374d;
}

#table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

    >div {
        width: 80%;

        span {
            color: #ffe9b0;
            font-family: 'Montserrat';
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

        h2 {
            font-family: 'Playfair Display';
            font-size: 40px;
            font-weight: 600;
            color: #E5E2E1;
            margin-bottom: 40px;
        }
    }

    table {
        width: 70%;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 12px;
        border: 1px solid #ffe9b033;
        overflow: hidden;
        font-family: 'Montserrat';
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 50px;

        thead {
            background-color: #0E0E0E;
            color: #ffe9b0;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1.2px;
        }

        tbody tr:nth-child(even) {
            background-color: #1C1B1B;
        }

        tbody tr:nth-child(odd) {
            background-color: #181717;
        }

        td {
            padding: 32px;
            border-bottom: 1px solid #ffe9b033;
        }

        th {
            padding: 12px;
            border-bottom: 1px solid #ffe9b033;
        }

        th[rowspan='2'] {
            padding: 24px;
            border-bottom: 1px solid #ffe9b033;
        }


        tbody td:nth-child(1) {
            font-family: 'Playfair Display';
            font-size: 18px;
            font-weight: 400;
            color: #ffe9b0;
        }

        tbody td:nth-child(2), tbody td:nth-child(7), tbody td:nth-child(9) {
            font-size: 16px;
            font-weight: 400;
            color: #d0c5afcc;
        }

        tbody td:nth-child(3),
        tbody td:nth-child(4),
        tbody td:nth-child(5),
        tbody td:nth-child(6) {
            color: #d0c5af;
            font-size: 16px;
            font-weight: 600;
        }

        tfoot {
            color: #d0c5afcc;
            font-size: 15px;
            letter-spacing: 1.5px;
            background-color: #262525;

            td {
                border: none;
            }

            a {
                border: 0.8px solid #ffe9b04d;
                padding: 8px 24px;
                border-radius: 50px;
                color: #ffe9b0;
                font-weight: 600;
                font-size: 12px;
                transition: 0.5s;
            }

            a:hover {
                background-color: #ffe9b01a;
            }
        }

        .state {
            background-color: #ffb4ab0d;
            border-color: #ffb4ab33;
            color: #ffb4ab;
            box-shadow: 0px 0px 15px 0px #ffb4ab1a;
            border: 1px solid;
            border-radius: 50px;
            padding: 4px 16px;
            font-size: 10px;
            font-weight: 700;
            letter-spacing: 2px;
        }

        .open {
            background-color: #10b9810d;
            color: #34d399;
            box-shadow: 0px 0px 15px 0px #34d3991a;
            border-color: #10b98133;
        }

    }
}