@font-face {
    font-family: mainFont;
    src: url(../assets/Fonts/noto-serif.regular.ttf);
}

body {
    text-transform: capitalize;
    font-family: mainFont;
    display: flex;
    cursor: default;
}

.nav-links {
    transform: translateX(49px);
}

.head, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.mode-cnt {
    left: 120px;
}

#profilePic {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin: 1%;
    border: 2px solid #e7c075;
}

h1 {
    color: #e7c075;
    font-weight: unset;
}

h4, h3 {
    color: #b5aa9b;
    font-weight: unset;
}

h3 {
    border-bottom: 2px solid #b5aa9b;
    padding: 2%;
}

.fav {
    width: 50%;
    margin: 4%;
}

hr {
    background-color: #e7c075;
    width: 5%;
    margin: 3%;
    font-weight: unset;
}

.btn {
    width: 45px;
    height: 30px;
    color: #e7c075;
    text-align: center;
    align-items: center;
    transition: 0.15s;
    margin: 1px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1) !important;
    text-shadow: 2px 3px 8px black;
}

.btn.light:hover {
    text-shadow: 0px 0px 4px #131313e6 !important;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 130%;
}

.fav {
    justify-self: center;
    img {
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }

    h2 {
        color: #e7c075;
        font-weight: unset;
        font-size: 80%;
        width: auto;
        line-height: 1.2;
        word-wrap: break-word;
    }

    h5 {
        color: #b5aa9b;
        font-weight: unset;
        font-size: 75%;
        width: 20px;
    }

    h6 {
        color: #b5aa9b;
        font-weight: unset;
        font-size: 65%;
        width: auto;
        white-space: nowrap;
    }

    .container {
        margin: 2%;
        display: flex;
        justify-self: center;
        width: 600px;
        height: 20%;
        align-items: center;
        gap: 25px;
    }

    .picture {
        display: flex;
        height: 130px;
        width: 170px;
        align-items: center;
        justify-content: center;
    }

    .nameInfo {
        flex: 1;
        min-width: 150px;
        text-wrap: wrap;
    }

    .iconBox {
        display: flex;
        align-items: center;
        font-size: 150%;
        width: 20px;
        gap: 15px;
        justify-content: flex-end;
    }

    .text {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .cardFooter {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 15px;
        justify-content: space-between;
    }

    i {
        cursor: pointer;
    }
}

.box {
    background-color: black;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    align-items: center;
    top: 25%;
    left: 32.5%;
    width: 35%;
    height: 42%;
    border-radius: 20px;
    padding: 3.5% 2.5%;
    box-shadow: 0px 0px 15px #e7c075;
    font-weight: unset;
}

.icony {
    color: #e7c075;
    font-size: 160%;
}

.hr {
    width: 310px;
    height: 2px;
    margin: 2.5%;
    background-color: #e7c075;
    border-radius: 5px;
}

.heading {
    color: #e7c075;
}

.warning {
    color: var(--text-color);
}

.no {
    border: 1px solid #e7c075;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    padding: 2px;
    height: 90%;
    align-items: center;
    width: 20%;
}

.yes {
    color: #000;
    background-color: #e7c075;
    cursor: pointer;
    text-align: center;
    padding: 2px;
    align-items: center;
    width: 20%;
    height: 90%;
    border-radius: 8px;
}

.choice {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10%;
}

.sign {
    display: none;
}

.userName.light {
    color: #3E2F23;
}

.userEmail.light {
    color: #937C63;
}

.art.light {
    color: #383010;
}

.nameInfo.light {
    h5 {
        color: #383010;
    }

    h2 {
        color: #937C63;
    }
}

.cardFooter.light {
    h6 {
        color: #383010;
    }
}

.iconBox.light {
    color: rgb(232, 115, 115);
}

.arrow.light {
    color: #6B4F3A;
}

.log.light {
    color: #b5aa9b;
}

.footer.light {
    background-color: white;
}

hr.light {
    color: #3E2F23 !important;
}

#pop.light {
    .box {
        background-color: white !important;
        box-shadow: 0px 0px 15px #3E2F23;

        .icony {
            color: #3E2F23;
        }

        .hr {
            background-color: #3E2F23;
        }

        .heading {
            color: #3E2F23;
        }

        .warning {
            color: #7D6852;
        }

        .no {
            border: 1px solid #3E2F23;
            color: #3E2F23;
        }

        .yes {
            background-color: #3E2F23;
            color: white;
        }
    }
}
