img {
    border-radius: 10px;
}

main {
    padding: 20px 40px;
}

.search-header {
    color: #a4a2a8;
    font-size: 40px;
    margin-left: 11%;
    margin-top: 12px;
    transition: 0.3s;
}

.search-header.light {
    color: #6B4F3A;
}

.search-window {
    display: flex;
    justify-content: center;
}

.search-window input {
    height: 42px;
    background-color: #353534;
    border: none;
    width: 70%;
    font-size: 16px;
    padding: 5px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.3s;
    padding-left: 12px;
}

.search-window input.light {
    background-color: #ffffff;
    color: #0a0a0a;
}

input.light::placeholder {
    color: #a4a2a8 !important;
    transition: 0.3s;
}

.search-window input:focus {
    outline: none;
    border: 1px solid white;
}

.search-window input:-webkit-autofill,
.search-window input:-webkit-autofill:hover, 
.search-window input:-webkit-autofill:focus, 
.search-window input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
    font-size: 16px !important;
    font-family: inherit !important;
}

.search-window input.light:-webkit-autofill,
.search-window input.light:-webkit-autofill:hover, 
.search-window input.light:-webkit-autofill:focus, 
.search-window input.light:-webkit-autofill:active {
    -webkit-text-fill-color: #0a0a0a !important;
}

.search-window button {
    width: 8%;
    background-color: #e7c075;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-window button.light {
    background-color: #937C63;
    color: white;
}

.search-window button:hover {
    background-color: #bb954f;
}

.search-window button.light:hover {
    background-color: #7D6852;
}

.filters {
    display: flex;
    align-items: flex-end;
    margin: 15px 11%;
    justify-content: space-between;
}

.filter-show {
    border: 1px solid #e7c075;
    border-radius: 10px;
    align-self: center;
    color: #b5aa9b;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-show.light {
    color: #6B4F3A !important;
    border: 1px solid #937C63 !important;
}

.filter-show span {
    height: 99%;
    display: flex;
    gap: 4px;
    transition: 0.15s;
    border-radius: 10px;
    align-items: center;
    padding: 0px 5px;
    justify-content: flex-start;
    cursor: pointer;
}

.active-method {
    background-color: #e7c075;
    color: #432f01;
    border-radius: 2px;
}

.active-method.light {
    border: #937C63;
    background-color: #937C63 !important;
    color: white !important;
}

.categories {
    display: flex;
    gap: 20px;

}

.categories button {
    padding: 8px 16px;
    border-radius: 15px;
    border: 2px solid #e7c075;
    background-color: transparent;
    color: #b5aa9b;
    cursor: pointer;
    transition: 0.3s;
}

.categories button:hover {
    background-color: #e7c075;
    color: #432f01;
}

.categories button.light {
    border: 2px solid #937C63;
    color: #6B4F3A;
}

.categories button.light:hover {
    background-color: #937C63;
    color: white;
}

.active-category {
    background-color: #e7c075 !important;
    color: #432f01 !important;
    transition: 0.3s;
}

.active-category.light {
    background-color: #937C63 !important;
    color: white !important;
}

#artifacts-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    margin: 0 11%;
    gap: 50px 172px;
}

.card {
    position: relative;
    background-color: #353534;
    max-width: 19em;
    padding: 8px;
    height: 390px;
    border-radius: 10px;
    transition: 0.3s;
}

.card.light,
#artifacts-container.list .card.light {
    background-color: #ffffff;
}

.image-container {
    text-align: center;
    max-width: 240px;
}

img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
}

.artifact-header {
    margin-top: 10px;
    color: #e7c075;
    font-size: 12px;
}

.artifact-name {
    color: #a4a2a8;
    margin-top: 5px;
    font-size: 20px;
    width: 240px;
    transition: 0.3s;
}

.artifact-name.light,
#artifacts-container.list .artifact-name.light {
    color: #3E2F23;
}

.artifacte-subtitle {
    color: #b5aa9b;
    margin-top: 10px;
    width: 240px;
    transition: 0.3s;
}

.artifacte-subtitle.light,
#artifacts-container.list .artifacte-subtitle.light {
    color: #3E2F23 !important;
}

.card-footer {
    position: absolute;
    bottom: 20px;
    display: flex;

    width: 240px;
    justify-self: flex-end;
}

.icon-box {
    width: 40%;
    display: flex;
    align-items: flex-end;
    gap: 0 5px;
}

.heart-icon {
    margin-left: 10px;

}

.heart-icon,
.archive-icon {
    color: #e7c075;
    cursor: pointer;
}

.heart-icon.light,
.archive-icon.light {
    color: #937C63;
}

.active-icon {
    color: black;
}

.card.light .active-icon {
    color: rgb(232, 115, 115) !important;
}

#artifacts-container.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    margin: 0 11%;
    gap: 50px 40px;
}

#artifacts-container.list .card {
    position: relative;
    display: flex;
    gap: 15px;
    background-color: #353534;
    width: 100%;
    max-width: none;
    height: auto;
    padding: 8px;
    border-radius: 20px;
    transition: 0.3s;
}

#artifacts-container.list .image-container {
    text-align: center;
    /* max-width: 240px; */
    height: 140px;
}

#artifacts-container.list img {
    max-width: none;
    height: 140px;
    object-fit: contain;
    border-radius: 20px;
}

#artifacts-container.list .text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

#artifacts-container.list .artifact-header {
    margin-top: 10px;
    color: #e7c075;
    font-size: 12px;
}

#artifacts-container.list .artifact-name {
    color: #a4a2a8;
    /* margin-top: 5px; */
    font-size: 20px;
    width: 100%;
    transition: 0.3s;
}

#artifacts-container.list .artifacte-subtitle {
    color: #b5aa9b;
    margin-top: 10px;
    width: 100%;
    transition: 0.3s;
}

#artifacts-container.list .card-footer {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#artifacts-container.list .icon-box {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 0 5px;

}

.hide {
    display: none !important;
}
