body {
    cursor: default;
}

.background {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    align-items: flex-start;
    text-align: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url(../assets/images/Screenshot\ \(645\).png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.background.light {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
        url(../assets/images/ChatGPT\ Image\ Apr\ 29\,\ 2026\,\ 08_47_38\ PM.png);
}

h1, h3 {
    color: #e7c075;
    font-family: mainFont;
    font-weight: normal;
}

h1.light,
h3.light {
    color: #3E2F23;
}

h1 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
    padding: 10px 0;
}

p, li {

    color: #b5aa9b;
    font-family: mainFont;
    line-height: 1.4;
    letter-spacing: 1px;
}

p.light,
li.light {
    color: #6B4F3A;
}

li {
    font-size: 15px;
}

p {
    padding-left: 20px;
    font-size: 20px;
}

.list-terms {
    padding-left: 50px;

}
